@model SelectFlexOptions

@Html.ValidationSummary()

<form method="POST">
    <div class="btn-group pull-right">
        <a href="@Url.Action("StepOne", new {id = Model.SaleId})" class="btn">
            <i class="icon-arrow-left"></i> Previous
        </a>
        <button type="submit" class="btn btn-primary">Next <i class="icon-arrow-right icon-white"></i></button>
    </div>
    <fieldset>
        <legend>Step 2: Choose Flex Options</legend>
    </fieldset>
</form>

@section scripts
{
    <script type="text/javascript">
        $(function() {

            function onload(data) {
                console.log(data);
            }

            $.getJSON('/api/sale', { id: @Json.Encode(Model.SaleId) }, onload);
        });


    </script>

}
