@model SelectASale 

@Html.ValidationSummary()

<form method="POST">
    <div class="btn-group pull-right">
        <button type="button" class="btn disabled"><i class="icon-arrow-left"></i> Previous</button>
        <button type="submit" class="btn btn-primary">Next <i class="icon-arrow-right icon-white"></i></button>
    </div>
    <fieldset>
        <legend>Step 1: Select A Sale</legend>
        @Html.TextBoxFor(m => m.SaleId, new {autocompleted= "off",placeholder = "Sale Id"})
    </fieldset>
</form>

@section scripts
{
    <script type="text/javascript">
        "use strict";
        $(function() {
            $('#@Html.IdFor(m => m.SaleId)').typeahead({
                name: 'saleid',
                remote: {
                    url: '/api/sale?q=%QUERY',
                    filter: function(data) {
                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];
                            item.value = item.SaleId;
                            item.tokens = [];
                        }
                        return data;
                    }
                },
                template: [
                    '<div class="suggestion">',
                    '<div class="jobNumber">Job # {{JobNumber}}</div>',
                    '<div class="saleId">Sale Id {{SaleId}}</div>',
                    '<p class="customerName">{{CustomerName}}</p>',
                    '<p class="address">{{Address}}</p>',
                    '<div class="community">{{CommunityName}}, {{MarketName}}</div>',
                    '</div>'
                ].join(''),
                engine: Hogan
            });
        });
    </script>
}