    <form>
        <fieldset>
            <legend>Pricing Options</legend>
            <div class="form-group">
                <label for="saleid">Sale Id</label>
                <input type="text" id="saleid" class="form-control" 
                       autocomplete="off" placeholder="Sale Id" 
                       data-provide="typeahead" />
            </div>
        </fieldset>
    </form>

@section scripts
{
    <script type="text/javascript">
        "use strict";
        $(function() {
            $('#saleid').typeahead({
                name: 'saleid',
                remote: {
                    url: '/api/sale?q=%QUERY',
                    filter: function(data) {
                        for (var i = 0; i < data.length; i++) {
                            var item = data[i];
                            item.value = item.SaleId;
                            item.tokens = []
                        }
                        return data;
                    }
                },
                template: [
                    '<p>{{JobNumber}} <span class="saleId">{{SaleId}}</span></p>',
                    '<p>{{CustomerName}}</p>',
                    '<p>{{Address}}</p>',
                    '<p>{{Community}}</p>'
                ].join(''),
                engine: Hogan
            });
        });
    </script>
}